.addproducts input {
    background: none !important;
    border: 2px solid;
    border-radius: 10px;
    padding: 7px;
    margin-top: 5px;
    margin-left: 10px;

}

select{
    background: none;
    color: black;
    margin-top: 10px;
    border: 2px solid darkgray;
}
label{
    color: black;
}
.submitbn{
    cursor: pointer;
    border: 1px solid black;

}

